[Unit]
Description=Simeis Media Server
After=network.target

[Service]
Type=simple
User=simeismma
ExecStart=/usr/bin/simeismma
Restart=on-failure

[Install]
WantedBy=multi-user.target
